.mainProduct {
   
   &__wrapper {
      display: flex;
      padding-bottom: 80px;
   }

   

   &__title {
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 900;
      padding: 100px 0 56px 0;
   }

   &__photo {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #14141D;
      height: 520px;
      min-width: 780px;
      border-radius: 10px;
      margin-right: 20px;
      & img {
         height: 400px;
      }
   }

   &__characteristics {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      background-color: #14141D;
      height: 250px;
      width: 100%;
      border-radius: 10px;
   }

   &__price {
      display: flex;
      align-items: center;
      font-size: 24px;
      padding-bottom: 30px;
      & p {
         margin: 0;
         font-weight: 700;
         padding-right: 30px;
      }
   }

   &__size {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      
   }

   &__sizeSelector {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border: white solid 2px;
      height: 50px;
      width: 50px;
      border-radius: 5px;
      font-weight: 700;
      transition: all 0.2s ease;
      &.mainProduct__sizeSelector_active {
         border: #C7A17A solid 2px;
         color: #C7A17A;
      }
      &:hover {
         border: #C7A17A solid 2px;
         color: #C7A17A;
      }
   }

   &_addToCart {
      height: 50px;
      width: 340px;
      color: white;
      background-color: #C7A17A;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: .1em;
      font-weight: 500;
      transition: all 0.2s ease;
      &:hover {
         background-color: #a98a6c;
      }
      
   }
}

* {
   font-family: Jost, sans-serif;   
}

.description {

   &__title {
      font-weight: 900;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 32px;
   }

   &_subtitle {
      background-color: #14141D;
      padding: 30px;
      margin-bottom: 80px;
      border-radius: 10px;
      line-height: 1.45em;
      font-size: 18px;
      font-weight: 400;
      & li {
         position: relative;
         margin-left: 20px;
      }
      & li::before {
      content: '';
      display: inline-block;
      width: 2px; /* Двічі більше значення радіусу */
      height: 2px; /* Двічі більше значення радіусу */
      border-radius: 50%; /* Радіус кола */
      background-color: white; /* Колір кола */
      position: absolute;
      top: 8px;
      left: -8px;
      }
   }

   
}


